#menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#menu li{
	display: inline-block;
	margin-right: 10px;
}
#menu li a{
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
}
#menu li a:hover{
	background-color: lightblue;
}
#caja1 {
	position: fixed;
	width: 100%;
	background-color: black;
	z-index: 1000;
	
	margin: 0 auto;
	text-align: center;

}
#caja1_1 {
	
	
	background-color: white;
	
	
	margin: 0 auto;
	text-align: center;
}
#empresa{
	display: inline-block;
	vertical-align: middle;
	color: skyblue;
	font-size: 45px;
	margin-right: 50px;
}
#caja0 {
	position: fixed;
	width: 100%;
	background-color: black;
	z-index: 1000;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 8px
	margin-top: -10px;
	margin-left: -7.8px
}
#caja0_1 {
	

	background-color: white;

	padding-top: 15px;
	padding-bottom: 8px
	text-align: center;
}

#logo{
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;
}
body{
	font-family: fuente;
	background-color: white;
}
#grito{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	color: darkgreen;
	text-align: center;
}
.contribuciones{
	border: 3px solid black;
	padding: 10px;
	flex-grow: 1;
	width: 40%;
}
#texto{
	flex-grow: 3;
}
#columna2{
	display: flex;
}
#columna1{
	display: flex;
}
#columnaImagen{
	flex-grow: 1;
}
#columnaDescripcion{
	flex-grow: 2;
	padding: 20px;
}
h4, .precio{
	display: inline-block;
}
.precio{
	font-weight: bold;
	color: grey;
	font-size: 25px;
	margin-left: auto;
	margin-right: 0;
}
.cajaContribucion {
    display: flex;
   align-items: center;
}

@media screen and (max-width:500px){
	#columna1{
		flex-direction: column;
	}
	#columna2{
		flex-direction: column;
	}
	
	.contribuciones{
		width: 100%;
	}
	.contenido{
		padding: 10px;
	}
}

#imagenPrincipal{
	width: 400px;
	height: 200px;

}
#info{
    color: #fff;
    background-color: #444;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

#redes{
    padding: 20px;
    flex-grow: 1;
}

#nombres{
    padding: 20px;
    flex-grow: 1;
}
@font-face{
	font-family: fuente;
	src: url('Fonts/ThemundayEsp2.ttf') format('trueype');
}
